/cmake-build-debug/
/.idea/
entropy_dump.txt

/cmake-build-release/.cmake
/cmake-build-release/CMakeFiles
/cmake-build-release/Testing
/cmake-build-release/.ninja_deps
/cmake-build-release/.ninja_log
/cmake-build-release/best_first_guess.txt
/cmake-build-release/build.ninja
/cmake-build-release/cmake_install.cmake
/cmake-build-release/CMakeCache.txt
/cmake-build-release/FirstGuessAnalyzer
/cmake-build-release/SecondGuessAnalyzer
/cmake-build-release/solutii.txt
/cmake-build-release/StatisticsGenerator
/cmake-build-release/stats.txt
